/*
h1{
	text-align : center;
	border: medium solid;
	border-radius: 10px;
	padding: 10px 10px 10px 10px;
}

h2{
	padding-left: 100px;
}

p{
	text-align: justify;
	padding-left: 200px;
	padding-right: 850px;
	padding-top : 30px;
}

body{
	background-color: rgb(53,205,255);
}
*/